input{
    display: block;
    position: relative;
    top:-0px ;
}
fieldset{
  position: relative;
  bottom: 10px; ;
  
}

button{
  background-color: cyan;
  border:1px solid black   ;
  
}
button:active{
  background-color: dodgerblue;

 
}

